.App{
   margin: auto;
  width: 75%;
  height: auto;
  margin-top: 3%;
 
}
.header{
  background-color:rgb(237, 228, 228);
  
}
.dropdown{
  background-color:rgb(188, 183, 183); 
  
}
.select{
  max-height: 300px;
  overflow-y: scroll;
}
.cardImage{
  width: 50px;
}
.cardFooter{
  height: 50px;
}
.footer{
  color: black;
}